USE [master]
GO
/****** Object:  Database [user24]    Script Date: 19.03.2026 10:49:47 ******/
CREATE DATABASE [user24]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'user24', FILENAME = N'/var/opt/mssql/data/user24.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'user24_log', FILENAME = N'/var/opt/mssql/data/user24_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [user24].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [user24]
GO
/****** Object:  Table [dbo].[ed_izms]    Script Date: 19.03.2026 10:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ed_izms](
	[id] [int] NOT NULL,
	[ed_izm] [nvarchar](max) NULL,
 CONSTRAINT [PK_ed_izms] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materials]    Script Date: 19.03.2026 10:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materials](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name_material] [nvarchar](max) NULL,
	[type_material] [int] NULL,
	[kolvo_in_paket] [int] NULL,
	[ed_izm] [int] NULL,
	[kolvo_on_sklad] [int] NULL,
	[min_ostatok] [int] NULL,
	[price] [int] NULL,
 CONSTRAINT [PK_materials] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_material]    Script Date: 19.03.2026 10:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_material](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_product] [int] NULL,
	[name_material] [int] NULL,
	[kolvo_material] [int] NULL,
 CONSTRAINT [PK_product_material] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 19.03.2026 10:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name_product] [nvarchar](255) NULL,
	[art] [int] NULL,
	[min_price] [int] NULL,
	[picture] [nvarchar](255) NULL,
	[type_product] [int] NULL,
	[kolvo_people] [int] NULL,
	[nomer_cexa] [int] NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 19.03.2026 10:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role] [nvarchar](255) NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type_materials]    Script Date: 19.03.2026 10:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type_materials](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_material] [nvarchar](255) NULL,
 CONSTRAINT [PK_type_materials] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type_products]    Script Date: 19.03.2026 10:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type_products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_product] [nvarchar](255) NULL,
 CONSTRAINT [PK_type_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 19.03.2026 10:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fio] [nvarchar](255) NULL,
	[login] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[role] [int] NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ed_izms] ([id], [ed_izm]) VALUES (1, N'г')
INSERT [dbo].[ed_izms] ([id], [ed_izm]) VALUES (2, N'кг')
INSERT [dbo].[ed_izms] ([id], [ed_izm]) VALUES (3, N'м')
GO
SET IDENTITY_INSERT [dbo].[materials] ON 

INSERT [dbo].[materials] ([id], [name_material], [type_material], [kolvo_in_paket], [ed_izm], [kolvo_on_sklad], [min_ostatok], [price]) VALUES (1, N'Шипы для льда 3x2', 1, 3, 1, 470, 26, 6511)
INSERT [dbo].[materials] ([id], [name_material], [type_material], [kolvo_in_paket], [ed_izm], [kolvo_on_sklad], [min_ostatok], [price]) VALUES (2, N'Резина для льда 0x2', 2, 2, 2, 816, 21, 48785)
INSERT [dbo].[materials] ([id], [name_material], [type_material], [kolvo_in_paket], [ed_izm], [kolvo_on_sklad], [min_ostatok], [price]) VALUES (3, N'Шипы для льда 2x2', 1, 1, 1, 479, 22, 13077)
SET IDENTITY_INSERT [dbo].[materials] OFF
GO
SET IDENTITY_INSERT [dbo].[product_material] ON 

INSERT [dbo].[product_material] ([id], [id_product], [name_material], [kolvo_material]) VALUES (1, 1, 18, 16)
INSERT [dbo].[product_material] ([id], [id_product], [name_material], [kolvo_material]) VALUES (2, 83, 26, 16)
INSERT [dbo].[product_material] ([id], [id_product], [name_material], [kolvo_material]) VALUES (3, 27, 18, 13)
GO
SET IDENTITY_INSERT [dbo].[product_material] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [name_product], [art], [min_price], [picture], [type_product], [kolvo_people], [nomer_cexa]) VALUES (1, N'Колесо R18 Кованый', 241659, 11509, N'tire_15.jpg', 1, 4, 10)
INSERT [dbo].[products] ([id], [name_product], [art], [min_price], [picture], [type_product], [kolvo_people], [nomer_cexa]) VALUES (2, N'Запаска R15 Кованый', 327657, 8667, N'tire_64.jpg', 2, 2, 8)
INSERT [dbo].[products] ([id], [name_product], [art], [min_price], [picture], [type_product], [kolvo_people], [nomer_cexa]) VALUES (3, N'Шина R21 Лето', 266521, 10561, N'tire_6.jpg', 3, 4, 1)
GO
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [role]) VALUES (1, N'Администратор')
INSERT [dbo].[roles] ([id], [role]) VALUES (2, N'Менеджер')
INSERT [dbo].[roles] ([id], [role]) VALUES (3, N'Агент')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[type_materials] ON 

INSERT [dbo].[type_materials] ([id], [type_material]) VALUES (1, N' Шипы')
INSERT [dbo].[type_materials] ([id], [type_material]) VALUES (2, N' Резина')
SET IDENTITY_INSERT [dbo].[type_materials] OFF
GO
SET IDENTITY_INSERT [dbo].[type_products] ON 

INSERT [dbo].[type_products] ([id], [type_product]) VALUES (1, N'Колесо')
INSERT [dbo].[type_products] ([id], [type_product]) VALUES (2, N'Запаска')
INSERT [dbo].[type_products] ([id], [type_product]) VALUES (3, N'Шина')
SET IDENTITY_INSERT [dbo].[type_products] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [fio], [login], [password], [role]) VALUES (1, N'Иванов Иван Иванович', N'i.ivanov', N'Passw0rd!1', 1)
INSERT [dbo].[users] ([id], [fio], [login], [password], [role]) VALUES (2, N'Петрова Мария Сергеевна', N'm.petrova', N'SecureP@ss2', 2)
INSERT [dbo].[users] ([id], [fio], [login], [password], [role]) VALUES (3, N'Сидоров Алексей Петрович', N'a.sidorov', N'UserPass3', 3)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[materials]  WITH CHECK ADD  CONSTRAINT [FK_materials_ed_izms] FOREIGN KEY([ed_izm])
REFERENCES [dbo].[ed_izms] ([id])
GO
ALTER TABLE [dbo].[materials] CHECK CONSTRAINT [FK_materials_ed_izms]
GO
ALTER TABLE [dbo].[materials]  WITH CHECK ADD  CONSTRAINT [FK_materials_type_materials] FOREIGN KEY([type_material])
REFERENCES [dbo].[type_materials] ([id])
GO
ALTER TABLE [dbo].[materials] CHECK CONSTRAINT [FK_materials_type_materials]
GO
ALTER TABLE [dbo].[product_material]  WITH CHECK ADD  CONSTRAINT [FK_product_material_materials] FOREIGN KEY([name_material])
REFERENCES [dbo].[materials] ([id])
GO
ALTER TABLE [dbo].[product_material] CHECK CONSTRAINT [FK_product_material_materials]
GO
ALTER TABLE [dbo].[product_material]  WITH CHECK ADD  CONSTRAINT [FK_product_material_products] FOREIGN KEY([id_product])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[product_material] CHECK CONSTRAINT [FK_product_material_products]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_type_products] FOREIGN KEY([type_product])
REFERENCES [dbo].[type_products] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_type_products]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_roles] FOREIGN KEY([role])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_roles]
GO
USE [master]
GO
